## Deliverable 3. Create a Travel Itinerary Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config_copy import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [17]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()
vacation_df = pd.read_csv("Weather_CSV/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Port Elizabeth,ZA,61.09,scattered clouds,-33.9180,25.5701,39 On Nile Guest House
1,2,Wilmington,US,77.95,clear sky,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
2,4,Uruguaiana,BR,64.33,light rain,-29.7547,-57.0883,Fares Turis Hotel
3,8,Brisbane,AU,67.15,moderate rain,-27.4679,153.0281,Royal On The Park Brisbane
4,10,Hilo,US,80.33,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
5,12,Sao Filipe,CV,79.65,clear sky,14.8961,-24.4956,Hotel Xaguate
6,14,Banda Aceh,ID,79.79,overcast clouds,5.5577,95.3222,Sulthan Hotel International
7,15,Cape Town,ZA,61.27,moderate rain,-33.9258,18.4232,Southern Sun Waterfront Cape Town
8,16,Nishihara,JP,80.65,scattered clouds,26.1842,127.7558,Minshuku Agaihama
9,19,Imbituba,BR,71.49,overcast clouds,-28.2400,-48.6703,Praia Hotel Imbituba

In [18]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<d1>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</d1>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [19]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== "Traverse City"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Traverse City"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Cadillac"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Allen"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Clinton"]

In [21]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Start:{start}, Stop 1:{stop1}, Stop 2:{stop2}, Stop 3:{stop3}, End:{end}')

Start:(44.7631, -85.6206), Stop 1:(44.2519, -85.4012), Stop 2:(41.0706, -85.0144), Stop 3:(42.587, -82.9199), End:(44.7631, -85.6206)

In [24]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
itinerary = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3],
    travel_mode='DRIVING')
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
frames = [vacation_start, vacation_stop1, vacation_stop2, vacation_stop3]
itinerary_df = pd.concat(frames,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,199,Traverse City,US,68.07,broken clouds,44.7631,-85.6206,Bayshore Resort
1,651,Cadillac,US,65.43,scattered clouds,44.2519,-85.4012,"Holiday Inn Express & Suites Cadillac, an IHG ..."
2,484,Allen,US,77.09,broken clouds,41.0706,-85.0144,Holiday Inn Express Fort Wayne-East (New Haven...
3,433,Clinton,US,75.02,light rain,42.5870,-82.9199,Hampton Inn Detroit/Roseville

In [30]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<d1>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</d1>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))